@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar{
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-track{
}

::-webkit-scrollbar-thumb{
  background: #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background: #808080;
}

.swiper-button-prev,
.swiper-button-next {
  color: #2ad7ac !important; /* Força a cor vermelha */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: lime !important; /* Força a cor vermelha */
}

.swiper-button-next{
  margin-right: 1dvw;
}